/*Main colors*/
$blue: #0a2640;
$light-blue: #1c3d5b;
$green: #65e4a3;
$green-border: #69e6a6;
$white: #ffffff;
$black: #000000;
$gray: #777777;

/*Font families*/
$manrope: "Manrope", sans-serif;
$open-sans: "Open Sans", sans-serif;
$work-sans: "Work Sans", sans-serif;

/*Screen sizes*/
$mobile: 767px;
$tablet: 1024px;

/*Mixins*/
@mixin container {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
}
@mixin tablet-container {
  width: 95%;
  margin: 0 auto;
}
/*Reset*/
@import "reset";

/*Box-sizing*/
* {
  box-sizing: border-box;
}
/*Class for h1 and h2*/
.title {
  font-family: $manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.5em;

  color: $black;

  &_white {
    color: $white;
  }

  &_center {
    text-align: center;
  }

  @media (max-width: $mobile) {
    font-size: 2em;
  }
}

/*Class for button*/
.btn {
  border: 2px solid $blue;
  border-radius: 56px;
  padding: 16px 56px;

  font-family: $open-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $blue;

  &:hover {
    cursor: pointer;
    color: $white;
    box-shadow: 0 0 15px 15px $light-blue inset, 0 0 5px 5px $white;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  &_small {
    padding: 8px 40px;
    font-size: 16px;
    line-height: 24px;
  }

  &_smallest {
    padding: 1px 14px;
    font-size: 13px;
    line-height: 28px;
  }

  &_blue {
    border-color: $blue;
    color: $white;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  &_blue:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $white;
    color: $blue;
  }
  &_green {
    background: $green;
    border-color: $green-border;
    box-shadow: 0 0 40px 40px $green inset, 0 0 0 0 $green;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  &_green:hover {
    box-shadow: 0 0 40px 0 $white inset, 0 0 10px 4px $green;
    color: $blue;
  }
  &_white-border {
    border-color: $white;
  }
}

/*Class for section1 (Lera)*/
.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: $blue;
  margin-bottom: 3.8em;

  /*Ellipse*/
  .header::before {
    content: "";
    position: absolute;
    left: 55.5%;
    top: -49.875em;
    height: 80.8em;
    width: 92.36%;
    border-radius: 46.18%;
    background-color: $light-blue;
    z-index: -1;
  }
  .header-container {
    @include container;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 4em;
    &__card {
      display: flex;
    }
    &__menu {
      display: flex;
      align-items: center;
    }
    &__link {
      text-decoration: none;
      color: $white;
      font-family: $open-sans;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.5em;
      margin-right: 2.5em;
    }
  }
  .header-section {
    @include container;
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__sidebar {
      width: 49.3%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: center;
    }
    &__text {
      font-family: $open-sans;
      font-size: 1em;
      line-height: 1.75em;
      color: $white;
      margin-bottom: 2.5em;
    }
  }
  .button {
    display: flex;
    justify-content: flex-start;
    gap: 1.25em;
  }
  .header-section-img {
    width: 44%;
    display: grid;
    grid-template-columns: 43% 57%;
    grid-template-rows: 58.4% 41.6%;
    gap: 1.625em;
    &__img1 {
      width: 100%;
      max-width: 100%;
      grid-area: 1/1/2/3;
    }
    &__img2 {
      width: 100%;
      max-width: 100%;
      grid-area: 2/1/3/2;
    }
    &__img3 {
      width: 100%;
      max-width: 100%;
      grid-area: 2/2/3/3;
    }
  }
  .header-section-logo {
    margin-top: 5.56em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5.44em;
    gap: 2%;
    &__pic:first-child,
    &__pic:last-child {
      opacity: 0.3;
    }
    &__pic {
      width: 100%;
      max-width: 100%;
    }
  }
  @media (max-width: $tablet) {
    @include tablet-container;
    .title {
      font-size: 2em;
      line-height: 1.4em;
    }
    .header-section {
      &__text {
        font-size: 0.85em;
        margin-top: 1em;
      }
    }
    .btn {
      padding: 10px 28px;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: $blue;

      &_blue {
        color: $white;
      }
    }
    .header-section-img {
      grid-template-rows: 50% 40%;
      margin-top: 5%;
    }
    .header-section-logo {
      gap: 1em;
      &__pic {
        max-width: 60%;
      }
    }
  }
  @media (max-width: $mobile) {
    .header {
      @include container;
    }
    .header-container {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      margin-bottom: 4em;
      a {
        display: flex;
        justify-content: center;
      }
      &__logo {
        width: 70%;
        margin-bottom: 5%;
      }
      &__card {
        display: flex;
        justify-content: center;
      }
      &__menu {
        flex-direction: column;
      }
      &__link {
        font-size: 1em;
        line-height: 1.8em;
        margin-right: 10vw;
      }
    }
    .header-section {
      width: 90%;
      &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      &__sidebar {
        width: fit-content;
      }
      &__text {
        font-size: 1.3em;
        line-height: 1.5em;
        margin-bottom: 1em;
      }
      .btn {
        padding: 18px 33px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
      }
      .header-section-img {
        width: 80%;
        width: fit-content;
        justify-content: center;
        gap: 1em;
      }
      .header-section-logo {
        display: none;
      }
    }
  }
}

/*Class for section2 (Anna) and section5 (Nataly) */

.block2 {
  @include container;
  &__title1 {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 2em;
    color: $gray;
    text-align: center;
  }
  /*Block2 and Block5 Cards*/
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4.785em;
    gap: 6.25em;
  }
  &__cards_b5 {
    gap: 3.125em;
  }
  &__card {
    display: flex;
    flex-basis: 28%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title3 {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.25em;
    color: $black;
    margin-top: 1.5em;
  }
  &__paragraph2 {
    margin-top: 0.75em;
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 2em;
    color: $gray;
    text-align: left;
  }
  &__paragraph2_black {
    color: $black;
  }
  &__category {
    display: flex;
    flex-flow: row wrap;
    gap: 0.75em;
    align-items: center;
  }
  &__title4 {
    font-family: $open-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: $blue;
  }
  &__title4_gray {
    color: $gray;
    font-weight: 400;
  }
  &__title4_black {
    color: $black;
    font-weight: 400;
  }
  &__foto {
    max-width: 100%;
  }
  &__button {
    margin: 5.25em auto;
    max-width: 14em;
  }
  /* Explore page */
  &__explorepage {
    display: flex;
    flex-direction: row;
    border-bottom: 0.125em solid rgba(10, 38, 64, 1);
    text-align: center;
    align-self: start;
    padding-bottom: 0.625em;
  }
  &__explorepage-link {
    margin-top: 1.75em;
    font-family: $open-sans;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 2/25em;
    color: $blue;
    text-decoration: none;
  }
  &__arrow-right-icon {
    width: 1.5em;
    height: 1.625em;
    top: 0.438em;
    left: 0.75em;
    margin-left: 1.063em;
    margin-top: 2em;
  }

  @media (max-width: $mobile) {
    &__card {
      flex-basis: 100%;
    }
  }
}

/*Class for section3 (Katya G.)*/

.customers {
  @include container;
  background-color: $white;

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: start;
    text-decoration: none;
    text-align: center;

    .btn:hover,
    .btn:focus {
      color: $white;
      outline: 0;
    }

    &_blue {
      border-color: $blue;
      color: $white;
      box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
      margin-top: 5%;
    }

    &_blue:hover {
      box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
      color: $blue;
    }
  }

  .wrapper-img {
    flex-basis: 45%;
    position: relative;
  }

  .customers-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 45%;
    padding-top: 5%;
  }

  .customers-section-title {
    font-family: $manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 156%;
    color: $black;
  }

  .customers-section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5%;

    &__img {
      max-width: 100%;
    }

    &__img-diagram {
      max-width: 100%;
      position: absolute;
      left: 30%;
      top: 35%;
    }

    &__items {
      padding-top: 10%;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      margin-bottom: 5%;
    }

    &__icon {
      max-width: 100%;
      max-height: 100%;
    }

    &__text {
      font-family: $open-sans;
      font-style: normal;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 160%;
      padding-left: 2vw;
      color: $black;
    }
  }

  .customers-section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 25%;

    .customers-section-title {
      margin-top: 10%;
    }

    &__items {
      padding-top: 10%;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      width: 100%;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      margin-bottom: 5%;

      &_blue {
        background: $blue;
      }
    }

    &__icon {
      max-width: 100%;
      margin: 5% 3% 5% 5%;
    }

    &__text {
      font-family: $open-sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 175%;
      color: $black;

      &_white {
        color: $white;
      }
    }

    &__img {
      max-width: 100%;
    }

    &__img-diagram {
      max-width: 100%;
      position: absolute;
      left: 4%;
      top: 50%;
    }
  }

  @media (max-width: $tablet) {
    @include tablet-container;

    .customers-section-title {
      font-weight: 300;
      font-size: 1.5em;
    }

    .customers-section-1 {
      &__img-diagram {
        height: 85%;
      }

      &__icon {
        max-width: 20px;
        max-height: 20px;
      }
    }

    .customers-section-2 {
      &__img-diagram {
        height: 85%;
      }

      .customers-section-title {
        margin-top: 0%;
      }

      &__items {
        padding-top: 10%;
      }
    }
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    width: 95%;

    .wrapper-img {
      max-width: 60%;
    }

    .customers-sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      max-width: 75%;
      padding-top: 15%;
    }

    .customers-section-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15%;

      &__item {
        display: inline-flex;
        align-items: center;
        margin-bottom: 5%;
      }
    }

    .customers-section-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0%;
      margin-bottom: 30%;

      .customers-sidebar {
        padding-top: 10%;
      }

      &__img {
        margin-top: 5%;
      }
    }
  }
}

/*Class for section4 (Katya P.)*/

.block4 {
  max-width: 100%;

  &__blue {
    background-color: $blue;
    padding-bottom: 7em;
  }

  &__titled {
    @include container;
    display: flex;
    justify-content: space-between;
    padding-top: 6em;
  }

  &__title {
    flex-basis: 60%;
  }

  &__button-container {
    display: flex;
    padding-top: 5em;
  }

  &__button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding-left: 1.5em;
  }

  &__button_left:hover {
    cursor: pointer;
    color: $white;
    transform: scale(1.1);
  }

  &__button_right:hover {
    cursor: pointer;
    color: $white;
    transform: scale(1.1);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    @include container;
    margin-top: 4em;
    justify-content: flex-start;
    align-items: flex-start;
    // gap: 2em;

    overflow: hidden;
    position: relative;
  }

  &__card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 10px;
    align-items: center;
    padding-top: 2em;

    float: left;
    position: relative;
    margin-right: 2em;
  }

  &__text {
    width: 70%;
    font-family: $open-sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-left: 2.2em;
  }

  &__name {
    display: flex;
    width: 100%;
    margin-left: 1em;
    padding: 2em;
    gap: 1em;
  }

  &__names {
    font-family: $open-sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: $blue;
  }

  &__position {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: $blue;
  }

  &__img {
    width: 58px;
    height: 58px;
  }

  &__about {
    @include container;
  }

  &__photo {
    max-width: 100%;
    width: 100%;
    border-radius: 24px;
    margin-top: 9.5em;
  }

  &__accordion {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 10em;
  }

  &__paragraph {
    flex-basis: 40%;
    font-family: $manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25em;
    line-height: 56px;
  }

  &__faq-container {
    flex-basis: 45%;
  }

  &__faq-down {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  &__faq {
    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  &__down {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.5em;
  }

  &__down:hover {
    cursor: pointer;
    color: $white;
    transform: scale(1.1);
  }

  @media (min-width: $tablet) {
    &__title {
      flex-basis: 50%;
    }

    &__paragraph {
      flex-basis: 35%;
    }
  }

  @media (max-width: $tablet) {
    @include tablet-container;
  }

  @media (max-width: $mobile) {
    &__titled {
      flex-wrap: wrap;
    }

    &__accordion {
      flex-wrap: wrap;
    }
  }
}

/*Class for section6 (Dinara)*/
.footer {
  @include container;

  &__container_blue {
    position: relative;
    z-index: 0;
    overflow: hidden;

    background-color: $blue;
    border-radius: 12px;
    padding: 4.5em 0;
    margin-bottom: 11.5em;
  }
  //Ellipse
  &__container_blue::before {
    content: "";
    position: absolute;
    left: 38.83%;
    right: -46.58%;
    top: -269.57%;
    bottom: 38.87%;
    height: 80.813em;
    width: 80.813em;
    border-radius: 40.406em;
    background-color: $light-blue;
    z-index: -1;
  }

  &__container_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6%;
    margin-bottom: 7em;
  }

  &__subscribe {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  &__form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
  }

  &__input {
    flex-grow: 1;
    background: $white;
    border: 2px solid $white;
    border-radius: 240px;
    padding-left: 32px;

    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  &__card {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  &__card:first-of-type {
    margin-right: 5.2em;
    gap: 2.5em;
  }

  &__paragraph {
    width: 18.75em;

    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: $gray;
  }
  &_paragraph:first-of-type {
    margin-bottom: 4em;
  }

  &__title {
    font-family: $open-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
  }
  &__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $gray;
  }

  @media (max-width: $tablet) {
    @include tablet-container;
    &__container_flex {
      flex-wrap: wrap;
      gap: 6em;
      justify-content: space-evenly;
    }
    &__subscribe {
      width: 100%;
    }

    &__card:first-of-type {
      margin-right: 1em;
    }
  }

  @media (max-width: $mobile) {
    &__container_blue,
    &__container_flex {
      margin-bottom: 2em;
    }
    &__card:first-of-type {
      flex-basis: 100%;
      order: 4;
    }
    &__paragraph {
      width: 100%;
    }
  }
}
