/*Main colors*/
$blue: #0a2640;
$light-blue: #1c3d5b;
$green: #65e4a3;
$green-border: #69e6a6;
$white: #ffffff;
$black: #000000;
$gray: #777777;

/*Font families*/
$manrope: "Manrope", sans-serif;
$open-sans: "Open Sans", sans-serif;
$work-sans: "Work Sans", sans-serif;

/*Screen sizes*/
$mobile: 767px;
$tablet: 1060px;

/*Mixins*/
@mixin container {
  width: 85%;
  margin: 0 auto;
}
@mixin tablet-container {
  width: 95%;
  margin: 0 auto;
}
/*Reset*/
@import "reset";

/*Box-sizing*/
* {
  box-sizing: border-box;
}
/*Class for h1 and h2*/
.title {
  font-family: $manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.5em;

  color: $black;

  &_white {
    color: $white;
  }

  &_center {
    text-align: center;
  }
}

/*Class for button*/
.btn {
  border: 2px solid $blue;
  border-radius: 56px;
  padding: 16px 56px;

  font-family: $open-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $blue;

  &:hover {
    cursor: pointer;
  }

  &_small {
    padding: 8px 40px;
    font-size: 16px;
    line-height: 24px;
  }

  &_smallest {
    padding: 1px 14px;
    font-size: 13px;
    line-height: 28px;
  }

  &_blue {
    background: $blue;
    color: $white;
  }

  &_green {
    background: $green;
    border-color: $green-border;
  }

  &_white-border {
    border-color: $white;
  }
}

/*Class for section1 (Lera)*/
.header {
  width: 100%;
  height: 798px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: $blue;
  margin-bottom: 61px;
}
/*Ellipse*/
.header::before {
  content: "";
  position: absolute;
  left: 55.5%;
  top: -789px;
  height: 1293px;
  width: 92.36%;
  border-radius: 46.18%;
  background-color: $light-blue;
  z-index: -1;
}
.header-container {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 64px;
  &__card {
    display: flex;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: $white;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 2.86%;
  }
}
.header-section {
  @include container;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__sidebar {
    width: 49.3%;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
  }
  &__text {
    font-family: $open-sans;
    font-size: 1em;
    line-height: 1.75em;
    color: $white;
    margin-bottom: 40px;
  }
}
.button {
  display: flex;
  justify-content: space-around;
}
.header-section-img {
  width: 44%;
  height: 423px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 26px;
  &__img1 {
    grid-area: 1/1/2/3;
  }
  &__img2 {
    grid-area: 2/1/2/3;
  }
  &__img3 {
    grid-area: 2/2/3/3;
  }
}
.header-section-logo {
  margin-top: 89px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 87px;
  &__pic:first-child,
  &__pic:last-child {
    opacity: 0.3;
  }
  @media (max-width: $tablet) {
    @include tablet-container;
    .header {
  width: 100%;
  height: 798px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: $blue;
  margin-bottom: 61px;
}
/*Ellipse*/
.header::before {
  content: "";
  position: absolute;
  left: 55.5%;
  top: -789px;
  height: 1293px;
  width: 92.36%;
  border-radius: 46.18%;
  background-color: $light-blue;
  z-index: -1;
}
.header-container {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 64px;
  &__card {
    display: flex;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: $white;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 2.86%;
  }
}
.header-section {
  @include container;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__sidebar {
    width: 49.3%;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
  }
  &__text {
    font-family: $open-sans;
    font-size: 1em;
    line-height: 1.75em;
    color: $white;
    margin-bottom: 40px;
  }
}
.button {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
.header-section-img {
  width: 44%;
  height: 423px;
  display: grid;
  grid-template-columns: 192px 262px;
  grid-template-rows: 232px 165px;
  gap: 26px;
  &__img1 {
    width: 493.86px;
    max-width: 100%;
    grid-area: 1/1/2/3;
  }
  &__img2 {
    width: 192px;
    max-width: 100%;
  grid-area: 2/1/2/3;
  }
  &__img3 {
    width: 262px;
    max-width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    }
}
.header-section-logo {
  margin-top: 89px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 87px;
  &__pic:first-child,
  &__pic:last-child {
    opacity: 0.3;
  }
  }
  @media (max-width: $mobile) {
  }
}

/*Class for section2 (Anna)*/
.block2__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.block2__card1 {
  display: flex;
  flex-direction: column;
}
.block2__card2 {
  display: flex;
  flex-direction: column;
}
.block2__card3 {
  display: flex;
  flex-direction: column;
}
.explorepage {
  display: flex;
  flex-direction: row;
}
.arrow-right-icon {
  width: 7px;
  height: 14px;
  top: 7px;
  left: 12px;
}

h4 {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: rgba(119, 119, 119, 1);
}

/*Class for section3 (Katya G.)*/

/*Class for section4 (Katya P.)*/

.block4 {
  max-width: 100%;

  &__blue {
    background-color: $blue;
    height: 797px;
  }

  &__title {
    @include container;
    display: flex;
    padding-top: 3em;
  }

  &__button-container {
    display: flex;
    padding-top: 3em;
  }

  &__button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }

  &__cards {
    display: flex;
    @include container;
    margin-top: 3em;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
  }

  &__card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 10px;
    align-items: center;
    padding-top: 1em;
  }

  &__text {
    width: 75%;
    font-family: $open-sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  &__name {
    display: flex;
    width: 100%;
    margin: 2em;
    padding: 2em;
    gap: 1em;
  }

  &__names {
    font-family: $open-sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: $blue;
  }

  &__position {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: $blue;
  }

  &__img {
    width: 58px;
    height: 58px;
  }

  &__about {
    @include container;
  }

  &__photo {
    max-width: 100%;
    width: 100%;
    border-radius: 24px;
  }

  &__accordion {
    display: flex;
    justify-content: space-between;
  }

  &__paragraph {
    flex-basis: 40%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
  }

  &__faq-container {
    flex-basis: 50%;
  }

  &__faq-down {
    display: flex;
  }
}

/*Class for section5 (Nataly)*/

/*Class for section6 (Dinara)*/
.footer {
  @include container;

  &__container {
    height: 391px;
  }

  &__container_blue {
    position: relative;
    z-index: 0;
    overflow: hidden;

    background-color: $blue;
    border-radius: 12px;
    margin-bottom: 184px;
  }
  //Ellipse
  &__container_blue::before {
    content: "";
    position: absolute;
    left: 38.83%;
    right: -46.58%;
    top: -269.57%;
    bottom: 38.87%;
    height: 1293px;
    width: 1293px;
    border-radius: 646.5px;
    background-color: $light-blue;
    z-index: -1;
  }

  &__container_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7vw;
  }

  &__subscribe {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
  }

  &__input {
    flex-grow: 1;
    background: $white;
    border: 2px solid $white;
    border-radius: 240px;
    padding-left: 32px;

    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  &__card {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
  }
  &__card:first-of-type {
    margin-right: 10.3vw;
    gap: 40px;
  }

  &_paragraph {
    width: 21.4vw;

    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: $gray;
  }
  &_paragraph:first-of-type {
    margin-bottom: 24px;
  }

  &__title {
    font-family: $open-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: $open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $gray;
  }

  @media (max-width: $tablet) {
    @include tablet-container;
    &__subscribe {
      width: 100%;
    }
    &__card:first-of-type {
      margin-right: 2vw;
    }
  }
}
